<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texts</key>
	<array>
		<string>_(:3 」∠)_</string>
		<string>(๑‾ ꇴ ‾๑)</string>
		<string>(=￣ω￣=)</string>
		<string>(๑⁼̴̀д⁼̴́๑)</string>
		<string>( *・ω・)✄╰ひ╯ 剪叽叽</string>
		<string>ԅ( ¯་། ¯ԅ)</string>
		<string>๛ก(ｰ̀ωｰ́ก)biu~</string>
		<string>╮(￣⊿￣&quot;)╭</string>
		<string>눈_눈</string>
		<string>٩(˃̶͈̀௰˂̶͈́)و</string>
		<string>๑乛◡乛๑</string>
		<string>(っ˘̩╭╮˘̩)っ</string>
	</array>
</dict>
</plist>
